* {
    font-family: 'Inter custom',sans-serif ;
    font-weight: 600 !important; 
}

.btn-primary {
    color: black !important;
    font-weight: 600 !important;
    background-color: black !important;
    border-color: black !important;
}

.btn-warning {
    color: black !important;
    font-weight: 600 !important;
    background-color: black !important;
    border-color: black !important;
}

